* {
    margin: 0;
}
  
body {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20vw;
    overflow-y: scroll;
}

#navbar>h1 {
    font-size: 4vh;
    text-align: center;
    padding: 5% 0;
}

#navbar ul {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

#navbar ul li {
    margin: 2.5%;      
    background-color: lightcoral;
    border-radius: 6vh;
    transition: .3s;
}

#navbar ul li:hover {
    transform: scale(.9);
}

#main-header #navbar ul li a {
    display: block;
    padding: 2.5% 5%;
    color: white;
    text-decoration: none;
}

/* main section */
#main-doc {
    padding: 0 5vw 0 25vw; 
}

#main-doc .main-section header {
    font-size: 3vh;
    padding: 2.5%;
}

#main-doc .main-section .main-article p, #main-doc .main-section .main-article ul {
    margin-bottom: 2.5%;
}

#main-doc .main-section .main-article code {
    display: block;
    padding: 2.5%;
    background-color: lightblue;
    border-radius: 6vh;
    margin-bottom: 2.5%;
}

#main-doc .main-section:last-child .main-article ul {
    margin: 1% 2.5%;
    padding: 0;
}

#creator {
    color: navy;
}

/* mobile-devices */
@media screen and (orientation: portrait) {
    * {
        margin: 0;
    }
      
    body {
        flex-direction: column;
        width: 100vw;
    }
    
    #main-header {
        position: relative;
        height: 100%;
        width: 100vw;
        overflow-y: scroll;
    }

    #navbar ul li {
        transition: none;
    }
    
    #navbar ul li:hover {
        transform: none;
    }
    
    /* main section */
    #main-doc {
        padding: 0; 
        width: 90%;
        margin: auto;
    }
    
    #main-doc .main-section .main-article code {
        padding: 5%;
        font-size: 2vh;
        line-height: 2vh;
        margin-bottom: 2.5%;
    }
}